@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
html{
    scroll-behavior:smooth;
}

@layer base {
    body {
        background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 0C6.716 0 0 6.716 0 15c8.284 0 15-6.716 15-15zM0 15c0 8.284 6.716 15 15 15 0-8.284-6.716-15-15-15zm30 0c0-8.284-6.716-15-15-15 0 8.284 6.716 15 15 15zm0 0c0 8.284-6.716 15-15 15 0-8.284 6.716-15 15-15z' fill='%23b9730f' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}
}

.base-bg {
    background-color: #fff;
}

.purple-bg {
    background-color: #bf5600cd

    ;
}

p {
    size: 5rem;
}

.navstyle {
    font-family: 'Poppins';
    position: relative;
    color: #000; /* Primary text color */
    font-weight: bold; /* Bold text */
    font-size: 2rem; /* Font size */
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, .2rem .2rem 0 #000;
    -webkit-text-fill-color: transparent ;
    -webkit-text-stroke:0rem;
    -webkit-text-fill-color: #bf5600

    ;
}

.startl {
    font-family: 'Poppins';
    position: relative;
    color: #000; /* Primary text color */
    font-weight: bold; /* Bold text */
    font-size: 1.5rem; /* Font size */
    text-shadow: -.5px -.5px 0 #000, .5px -.5px 0 #000, -.5px .5px 0 #000, .23rem .23rem 0 #000;
    -webkit-text-fill-color: transparent ;
    -webkit-text-stroke: .1rem;
    -webkit-text-fill-color: #fff;
}

.startm {
    font-family: 'Poppins';
    position: relative;
    color: #000; /* Primary text color */
    font-weight: bold; /* Bold text */
    font-size: 1.5rem; /* Font size */
    text-shadow: -.5px -.5px 0 #000, .5px -.5px 0 #000, -.5px .5px 0 #000, .18rem .18rem 0 #000;
    -webkit-text-fill-color: transparent ;
    -webkit-text-stroke: .04rem;
    -webkit-text-fill-color: #fff;
}

.start-topv-title {
    font-family: 'Poppins';
    position: relative;
    color: #000; /* Primary text color */
    font-weight: bold; /* Bold text */
    font-size: 2.5rem; /* Font size */
    text-shadow: -.5px -.5px 0 #000, .5px -.5px 0 #000, -.5px .5px 0 #000, .23rem .23rem 0 #000;
    -webkit-text-fill-color: transparent ;
    -webkit-text-stroke: .1rem;
    -webkit-text-fill-color: #ffef15;
}

.start-title {
    font-family: 'Poppins';
    position: relative;
    color: #000; /* Primary text color */
    font-weight: bold; /* Bold text */
    font-size: 1.15rem; /* Font size */
    text-shadow: -.5px -.5px 0 #000, .5px -.5px 0 #000, -.5px .5px 0 #000, .18rem .18rem 0 #000;
    -webkit-text-fill-color: transparent ;
    -webkit-text-stroke: .02rem;
    -webkit-text-fill-color: #ffef15;
}


 .headerstyle {
    font-family: 'Poppins';
    position: relative;
    color: #000; /* Primary text color */
    font-weight: bold; /* Bold text */
    font-size: 7rem; /* Font size */
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, .7rem .7rem 0 #000;
    -webkit-text-fill-color: transparent ;
    -webkit-text-stroke: .2rem;
    -webkit-text-fill-color: #fff;
}

.herostyle {
    font-family: 'Poppins';
    position: relative;
    color: #000; /* Primary text color */
    font-weight: bold; /* Bold text */
    font-size: 7rem; /* Font size */
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, .5rem .5rem 0 #000;
    -webkit-text-fill-color: transparent ;
    -webkit-text-stroke: .2rem;
    -webkit-text-fill-color: #ffffff;
}

p {
    color: #fff;
}

.subheaderstyle {
    font-family: 'Poppins';
    position: relative;
    color: #000; /* Primary text color */
    font-weight: bold; /* Bold text */
    font-size: 6rem; /* Font size */
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, .4rem .5rem 0 #000;
    -webkit-text-fill-color: transparent ;
    -webkit-text-stroke: .1rem;
    -webkit-text-fill-color: #ffffff

    ;
}

.excelstyle {
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    color: #000; /* Primary text color */
    font-weight: bold; /* Bold text */
    font-size: 2.5rem; /* Font size */
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, .3rem .3rem 0 #000;
    -webkit-text-fill-color: transparent ;
    -webkit-text-stroke: .1rem;
    -webkit-text-fill-color: #f37666;
}
.succeedstyle {
    font-family: 'Poppins';
    position: relative;
    color: #000; /* Primary text color */
    font-weight: bold; /* Bold text */
    font-size: 2.5rem; /* Font size */
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, .3rem .3rem 0 #000;
    -webkit-text-fill-color: transparent ;
    -webkit-text-stroke: .1rem;
    -webkit-text-fill-color: #85f366;
}

.impactstyle {
    font-family: 'Poppins';
    position: relative;
    color: #000; /* Primary text color */
    font-weight: bold; /* Bold text */
    font-size: 2.5rem; /* Font size */
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, .3rem .3rem 0 #000;
    -webkit-text-fill-color: transparent ;
    -webkit-text-stroke: .1rem;
    -webkit-text-fill-color: #f3f166;
}

.darkbg {
    position: relative;
    color: #333;
    box-shadow: 1rem 1rem 0px #000000;
    outline: #000000 solid .2rem;
    border-radius: 1rem;
    margin-bottom: .8rem;
}

.buttondarkbg {
    position: relative;
    color: #ffffff;
    background-color: #ffef15;
    box-shadow: .5rem .5rem 0px #000000;
    outline: #000000 solid .2rem;
    margin-bottom: .8rem;
}

.bordered-element Link{
    margin: 0 0 10px;
    font-size: 2.5em;
    color: #333;
}

.navstyle {
    position: relative;
    margin:1.2rem;
    margin-bottom: 10rem;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: .4rem .5rem 0px #000000;
    border-radius: 25px;
    
}

.image-gallery {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    padding: 10px;
    white-space: nowrap;
    scroll-behavior: smooth;
  }
  
  .gallery-image {
    flex-shrink: 0;
    width: 600px;
    height: 200px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 8px;
  }

.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
  .slider-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 1s ease-in-out; /* Smooth transition */
  }

  @media (max-width: 640px) {
    .gallery-image {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .gallery-image {
        width: 33.333%;
    }
}

@media (max-width: 1024px) {

    .about-padding{
        padding-top: 12rem;
    }


    .hero-padding{
        padding-bottom: 10%;
    }

    .headerstyle {
        font-size: 6rem;
    }

    .subheaderstyle {
        font-size: 6rem;
    }
}

@media (max-width: 768px) {

    .about-padding{
        padding-top: 12rem;
    }

    .hero-padding{
        padding-bottom: 8%;
    }

    .navstyle {
        font-size: 2.5rem;
    }

    .startl {
        font-size: 3rem;
    }

    .startm {
        font-size: 1.5rem;
    }

    .start-topv-title {
        font-size: 3rem;
    }

    .headerstyle {
        font-size: 6rem;
    }

    .subheaderstyle {
        font-size: 5rem;
    }

    .impactstyle, .succeedstyle, .excelstyle {
        font-size: 2.5rem;
    }
}

/* Media Queries for responsiveness */
@media (max-width: 640px) {

    .about-padding{
        padding-top: 28rem;
    }
    .herostyle{
        font-size: 5rem;
    }

    .hero-padding{
        padding-bottom: 8%;
    }

    .navstyle {
        font-size: 2rem;
    }

    .startl {
        font-size: 2rem;
    }

    .startm {
        font-size: 1.5rem;
    }

    .start-topv-title {
        font-size: 3rem;
    }

    .headerstyle {
        font-size: 5rem;
    }

    .subheaderstyle {
        font-size: 3rem;
    }

    .impactstyle, .succeedstyle, .excelstyle {
        font-size: 1.8rem;
    }
}

/* Media Queries for responsiveness */
@media (max-width: 320px) {
    .about-padding{
        padding-top: 32rem;
    }
    .herostyle{
        font-size: 4rem;
    }

    .hero-padding{
        padding-bottom: 8%;
    }

    .navstyle {
        font-size: 1.5rem;
    }

    .startl {
        font-size: 1.5rem;
    }

    .startm {
        font-size: 1.25rem;
    }

    .start-topv-title {
        font-size: 2rem;
    }

    .headerstyle {
        font-size: 4rem;
    }

    .subheaderstyle {
        font-size: 2rem;
    }

    .impactstyle, .succeedstyle, .excelstyle {
        font-size: 1.3rem;
    }
}