.footer {
  padding: 60px;
  color: #000;
  font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer-content {
  text-align: center;
}

.footer h1 {
  /* font-size: 2em; */
  font: "Poppins", sans-serif;
  margin-bottom: 20px;
}

.footer p {
  margin-bottom: 40px;
  font-size: 1em;
}

.social-links a {
  margin: 0 10px;
  display: inline-block;
}

.social-links img {
  width: 40px;
  height: 40px;
}

.contact-info {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.contact-item {
  display: flex;
  align-items: center;
  margin: 0 20px;
}

.contact-item img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.contact-item span {
  font-size: 1em;
}
