#calendarEmbedWrapper {
    width: 80%;
    min-height: 300px;
    margin-left: 10%;
    position: relative;
}
#calendarEmbed,#calendarEmbedBlocker {
    width: 100%;
    height: 100%;
    position: absolute;
}
#calendarEmbedBlocker {
    background-color: #e15151;
}
#calendarEmbedBlocker p {
    width: 50%;
    margin-left: 25%;
    margin-top: 19%;
    text-align: center;
    font-size: x-large;
}